<h1>Welcome To Our Garden</h1>

<p>This is a collaborative website that changes over time.</p>

<p>Anybody can plant in this garden.</p>

<p>XX plants passed. XX plants forthcoming. </p>

<%= link_to 'Plants', controller: 'plants' %>

Gardeners
