// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.garden {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.garden li {
  font-size: 92px;
}

a:link,
a:visited {
  text-decoration: none;
}

.button {
  border: 1px solid green;
  background: green;
  color: lightgreen;
  padding: 3px 10px 5px 10px;
  border-radius: 3px;
}

.button:hover {
  background: lightgreen;
  color: green;
}

.specimen {
  font-size: 128px;
  line-height: 1;
}

.garden li {
  display: inline-block;
}

.possible_plants input[type="radio"] {
  display: none;
}

.possible_plants label {
  display: inline-block;
  font-family: Arial;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2em;
  line-height: 1;
  padding: 15px 10px 5px 10px;
  margin: 0;
  vertical-align: bottom;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.possible_plants label:hover {
  transform: scale(.9);
}

.possible_plants input[type="radio"]:checked+label {
  transform: scale(1.25);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 75%, rgba(255,255,0,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#00ffff00',GradientType=1 );
}
